{% extends "usuarios/base.html" %}
{% block conteudo %}

<div style="text-align: center; background-color: rgba(255, 255, 255, 0.699); width: 75vw; border-radius: 20px; padding: 30px; margin-bottom: 200px;" class="container">
  <h2 style="margin-bottom: 30px;">Regras e Pontuações do Campeonato de Drift</h2>
  <div class="container text-center">
    <div class="row row-cols-4">
      <div class="col">
        <h3>1. Critérios de Avaliação:</h3>
        <p><strong>a) Ângulo do Drift:</strong> Os pilotos serão avaliados com base no ângulo de derrapagem de seus carros durante as curvas. Quanto mais próximo de um ângulo perfeito, maior a pontuação.
        <br><br>
        <strong>b) Velocidade Controlada:</strong> A habilidade de manter a velocidade ideal durante o drift será avaliada. Pilotos que demonstrem controle preciso da velocidade serão recompensados.
        <br><br>
        <strong>c) Linha Ideal:</strong> Seguir a trajetória designada pela pista é essencial. Manter a linha ideal através das curvas e dos desafios da pista é fundamental para pontuar bem.
        <br><br>
        <strong>d) Estilo e Criatividade:</strong> Além da técnica, a originalidade e o estilo na execução das derrapagens serão considerados. Pilotos que conseguirem mostrar criatividade e estilo único serão recompensados.</p>
      </div>
      <div class="col">
        <h3>2. Fases da Competição:</h3>
          <p><strong>a) Qualificação:</strong> Cada piloto terá uma sessão de qualificação para demonstrar suas habilidades individuais na pista. As pontuações obtidas determinarão o posicionamento dos pilotos nas fases seguintes.
          <br><br>
          <strong>b) Batalhas de Tandem:</strong> Os pilotos serão emparelhados em batalhas de tandems, onde competem lado a lado. Em cada batalha, um piloto lidera enquanto o outro segue, e depois trocam de posição para a segunda corrida. Os juízes determinam um vencedor com base no desempenho em ambas as corridas.
          <br><br>
          <strong>c) Finais e Disputa pelo Título:</strong> Os melhores pilotos avançarão para as finais, onde a intensidade aumenta. A disputa pelo título será entre os mais qualificados, resultando na coroação do campeão do campeonato.
        </p>
      </div>
      <div class="col">
        <h3>3. Pontuação e Classificação:</h3>
        <p>
         <strong>a) Pontuação Individual:</strong> Os pilotos receberão pontuações de acordo com os critérios de avaliação mencionados. Cada juiz atribuirá uma pontuação, e a média dessas pontuações será computada para determinar a pontuação total.
          <br><br>
         <strong>b) Classificação Geral:</strong> As pontuações ao longo do campeonato serão acumuladas para determinar a classificação geral. O piloto com a maior pontuação ao final do campeonato será coroado o campeão.
        </p>
      </div>
      <div class="col">
        <h3>4. Penalidades e Regras de Segurança:</h3>
        <p>
         <strong>a) Penalidades:</strong> Violar as regras de competição resultará em penalidades, incluindo perda de pontos ou até desqualificação, dependendo da gravidade da infração.
          <br><br>
         <strong>b) Regras de Segurança:</strong> Todos os pilotos devem cumprir as normas de segurança estabelecidas para participar do campeonato, garantindo a segurança de todos os envolvidos.
        </p>
      </div>
    </div>
    <div style="margin-top: 30px;">
      <p>
        O Campeonato de Drift busca promover a excelência técnica, a paixão pela velocidade e a arte do controle em cada derrapagem. Este conjunto de regras e critérios foi desenvolvido para oferecer uma competição emocionante e justa, celebrando a habilidade e o talento dos pilotos que desafiam os limites da aderência e da precisão nas curvas.
      </p>
    </div>
    <button class="btn btn-danger" style="padding: 10px 20px; font-weight: bold; border-radius: 20px; font-size: 20px"><a href="/" style="text-decoration: none; color: white;">Voltar</a></button>
  </div>
</div>

{% endblock %}